.exibitionCard {
  --white: hsl(0, 0%, 83%);
  --black: hsl(240, 15%, 9%);
  --stone-300: hsl(24, 6%, 83%);
  --pink-500: hsl(299, 100%, 83%);

  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-card {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  min-width: 11.5rem;
  height: 2.25rem;
  background-color: var(--stone-300);
}
.sub-card.category {
  justify-content: center;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  transition: all 1s cubic-bezier(1, 0, 0, 1);
}
.sub-card.named {
  justify-content: center;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  transition: all 1s cubic-bezier(1, 0, 0, 1);
}

.exibitionCard:hover .sub-card.category {
  transform: translateY(100%);
  transition: all 1s ease;
}
.exibitionCard:hover .sub-card.named {
  transform: translateY(-100%);
  transition: all 1s ease;
}

.sub-card .text_span {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--black);
  text-transform: capitalize;
}

.card_container {
  overflow: hidden;
  position: relative;
  z-index: 5;
  width: 20rem;
  height: 14rem;
  background-color: var(--pink-500);
  border-radius: 0.5rem;
}
.card_container::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0rem;
  aspect-ratio: 1;
  background-color: hsl(240, 15%, 9%, 0.2);
  border-radius: 50%;
  transform-origin: center;
  transition: all 1s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.card_container::after {
  content: "See more";
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  box-sizing: border-box;
  width: 0rem;
  aspect-ratio: 1;
  background-color: hsl(240, 15%, 9%, 0.5);
  font-size: 0rem;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  border-radius: 50%;
  transform-origin: center;
  transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
}

.exibitionCard:hover .card_container::before {
  width: 22.5rem;
  transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
}

.exibitionCard:hover .card_container::after {
  padding: 1rem;
  width: 5rem;
  font-size: 0.75rem;
  transition: all 0.3s ease-in-out 0.4s;
}

.card_container .exibitionImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  fill: var(--black);
}
