.mainlogin {
  width: 100%;
  height: 100vh;
  align-items: center;
  background: #1d1d1d;
}

.login {
  flex-direction: column;
  width: 600px;
  height: 400px;
  background: #2c2c2c;
  padding: 47px;
  padding-bottom: 57px;
  color: #fff;
  border-radius: 17px;
  padding-bottom: 50px;
  font-size: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.login input[type="email"],
.login input[type="password"] {
  opacity: 1;
  display: block;
  border: none;
  outline: none;
  width: 80%;
  padding: 13px 18px;
  margin: 20px 0 0 0;
  font-size: 0.8em;
  border-radius: 100px;
  background: #3c3c3c;
  color: #fff;
  animation: bounce 1s;
  -webkit-appearance: none;
}

/* .login input:focus {
  animation: bounce 1s;
  -webkit-appearance: none;
} */

.login input[type="submit"],
.login input[type="button"],
.h1 {
  border: 0;
  outline: 0;
  width: 30%;
  padding: 13px;
  margin: 40px 0 0 0;
  border-radius: 500px;
  font-weight: 600;
  animation: bounce2 1.3s;
}

.login p{
  animation: bounce2 1.3s;
}

.login a{
  text-decoration: none;
}

.h1 {
  padding: 0;
  position: relative;
  /* top: -35px; */
  display: block;
  margin-bottom: -0px;
  font-size: 1.3em;
}

.btn {
  width: 100px;
  height: 50px;
  padding: 0px !important;
  border: 0 !important;
  outline: 0 !important;
  margin: 40px 0 0 0;
  border-radius: 500px !important;
  font-weight: 600;
  animation: bounce2 1.3s;
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: #fff !important;
}

.btn:hover {
  background: linear-gradient(144deg, #1e1e1e, 20%, #1e1e1e 50%, #1e1e1e) ;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  transition: all 0.4s ease;
}

.login input[type="text"] {
  animation: bounce 1s;
  -webkit-appearance: none;
}

.login input[type="password"] {
  animation: bounce1 1.3s;
}

.ui {
  font-weight: bolder;
  background: -webkit-linear-gradient(#b563ff, #535efc, #0ec8ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(0.25turn, #535efc, #0ec8ee, #0ec8ee);
  border-image-slice: 1;
  display: inline;
}

.registerNow{
  margin: 20px 0 0 0;
}

@media only screen and (max-width: 600px) {
  .login {
    width: 70%;
    padding: 10px;
  }
  .login input[type="email"],
  .login input[type="password"] {
    padding: 13px;
    width: 100%;
  }
  .login input[type="submit"],
  .login input[type="button"],
  .h1,
  .p {
    width: 50%;
    animation: bounce2 1.3s;
  }

  .registerNow{
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .registerNow{
    font-size: 10px;
    
  }

  .btn{
    size: 10px;
    animation: bounce2 1.3s;
  }

}

@keyframes bounce {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
}

@keyframes bounce1 {
  0% {
    opacity: 0;
  }

  40% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bounce2 {
  0% {
    opacity: 0;
  }

  70% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

/* .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #9d38ef;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #4e1199, #9d38ef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9d38ef;
    font-weight: 700;
  }
   */
/* reset input */
/* .form__field:required, .form__field:invalid {
    box-shadow: none;
  } */
